/* header.css */

.main-header {
  background-color: #97144d;
  color: white;
  padding: 12px 30px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  
}

.brand {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.logo {
  background-color: white;
  color: #97144d;
  font-weight: 700;
  font-size: 24px;
  border-radius: 8px;
  padding: 8px 14px;
  margin-right: 15px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);

}

.bank-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.bank-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.tagline {
  font-size: 12px;
  font-weight: 300;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd8e7;
}

.login-btn {
  background-color: white;
  color: #97144d;
  padding: 8px 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left : 90%;
}

.login-btn:hover {
  background-color: #ffd8e7;
}

