<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FinTrustBank</display-name>
   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    
  </welcome-file-list>

  <servlet>
    <servlet-name>Bank</servlet-name>
    <servlet-class>com.bank.fintrustbank.controller.Bank</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
     <url-pattern>/login</url-pattern>
      <url-pattern>/account-request</url-pattern>
    <url-pattern>/bank/*</url-pattern>
  </servlet-mapping>

<listener>
    <listener-class>com.bank.fintrustbank.listener.ConfigLoaderListener</listener-class>
</listener>

<error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/error.jsp</location>
</error-page>


 <filter>
    <filter-name>BankFilter</filter-name>
    <filter-class>com.bank.fintrustbank.filter.BankFilter</filter-class>
  </filter>
  
  
  <filter-mapping>
    <filter-name>BankFilter</filter-name>
    <url-pattern>/bank/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>JwtAuthFilter</filter-name>
    <filter-class>com.bank.fintrustbank.filter.JwtAuthFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>JwtAuthFilter</filter-name>
    <url-pattern>/bank/*</url-pattern>
  </filter-mapping>

</web-app>